fastapi>=0.103.1
uvicorn[standard]>=0.23.2
motor>=3.3.1
python-dotenv>=1.0.0
certifi>=2023.7.22
pymongo>=4.5.0

# Use precompiled wheels for pydantic
pydantic>=2.0.0


# Include these so we don't need to recreate schema files
python-multipart>=0.0.5
email-validator>=2.0.0 